In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ocorrencia_2010.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [3]:
df.loc[1,'ocorrencia_cidade']
#set a informação que será selecionada

'VITÓRIA'

In [4]:
df.loc[[10,40]]
#isso não é um indice e sim um label [[]] especifica somente 2 linhas

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,81017,81017,INCIDENTE GRAVE,GOIÂNIA,GO,SBNV,2022-09-30,13:40:00,0
40,80978,80978,ACIDENTE,SANTA HELENA DE GOIÁS,GO,***,2022-09-09,15:40:00,0

In [5]:
df.loc[:,'ocorrencia_cidade']
#vai trazer todas as informações de uma coluna

0                SÃO PAULO
1                  VITÓRIA
2                AMERICANA
3           BELO HORIZONTE
4                   MANAUS
               ...
6764               PELOTAS
6765    LUCAS DO RIO VERDE
6766        RIO DE JANEIRO
6767                 BELÉM
6768        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 6769, dtype: object

In [6]:
df.codigo_ocorrencia.is_unique
#só esta perguntando se não tem dados repetidos

True

In [7]:
df.set_index('codigo_ocorrencia', inplace=True)
#para retirar o index

In [8]:
df.head()
#sem o index

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [9]:
df.loc[81023]

codigo_ocorrencia2                        81023
ocorrencia_classificacao        INCIDENTE GRAVE
ocorrencia_cidade                     AMERICANA
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SDAI
ocorrencia_dia              2022-10-06 00:00:00
ocorrencia_hora                        15:30:00
total_recomendacoes                           0
Name: 81023, dtype: object

In [10]:
df.reset_index(drop=True, inplace=True)
#removendo o comando e colocando o index

In [11]:
df.head()
#com o indice

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [12]:
#limpeza
df.loc[df.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']] = pd.NA
#uma forma de atribuir valores que não estão disponiveis  = pd.NA

In [13]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [14]:
df.replace(['***','###!','####','NULL','****','*****'], pd.NA, inplace=True)
#NA = dados não informados nos campos com os caracteres descritos.

In [15]:
df.isna().sum()
#isna isnull... é o parâmetro dos dados que quero a informação da soma
#informa a quantidade de dados que não foram informados NA

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2417
ocorrencia_dia                 0
ocorrencia_hora                2
total_recomendacoes            0
dtype: int64

In [16]:
df.fillna(10, inplace=True)
#atribui um valor nos dados 'na'

In [17]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [18]:
df.replace([10], pd.NA, inplace=True)

In [19]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2417
ocorrencia_dia                 0
ocorrencia_hora                2
total_recomendacoes            2
dtype: int64

In [20]:
df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [21]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2417
ocorrencia_dia                 0
ocorrencia_hora                2
total_recomendacoes            0
dtype: int64

In [22]:
df.drop(['total_recomendacoes'], axis=1, inplace=True)
#comando para excluir uma coluna

In [23]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00

In [24]:
df.dropna()
#vai excluir a linha toda com os dados que tem na

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00
...,...,...,...,...,...,...,...
6760,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00
6762,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00
6764,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00
6767,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00

In [25]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00

In [26]:
df.dropna(subset=['ocorrencia_uf'])
#vai excluir a linha toda com os dados que tem na

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00
...,...,...,...,...,...,...,...
6764,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00
6767,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00

In [27]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00
...,...,...,...,...,...,...,...
6764,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00
6767,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora
0,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00
1,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00
2,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00
3,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00
4,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00
...,...,...,...,...,...,...,...
6764,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00
6765,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00
6766,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00
6767,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00
6768,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00