In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ocorrencia_2010.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0

In [3]:
df.loc[1,'ocorrencia_cidade']
#set a informação que será selecionada

'VITÓRIA'

In [5]:
df.loc[[10,40]]
#isso não é um indice e sim um label

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,81017,81017,INCIDENTE GRAVE,GOIÂNIA,GO,SBNV,2022-09-30,13:40:00,0
40,80978,80978,ACIDENTE,SANTA HELENA DE GOIÁS,GO,***,2022-09-09,15:40:00,0

In [6]:
df.loc[:,'ocorrencia_cidade']
#vai trazer todas as informações de uma coluna

0                SÃO PAULO
1                  VITÓRIA
2                AMERICANA
3           BELO HORIZONTE
4                   MANAUS
               ...
6764               PELOTAS
6765    LUCAS DO RIO VERDE
6766        RIO DE JANEIRO
6767                 BELÉM
6768        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 6769, dtype: object