In [1]:
import pandas as pd
#comando que esta chamando o pandas

In [6]:
dataframe = pd.read_csv("ocorrencia_2010.csv")
dataframe 
#tenha atenção sobre o caminho do dados a ser chamado lembrar de adicionar o formato.
#caso estiver com os dados agrupados só adicionar a ,sep=";" dps do arquivo fora das"

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,09/10/2022,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,09/10/2022,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,06/10/2022,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,06/10/2022,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,05/10/2022,20:56:00,0
...,...,...,...,...,...,...,...,...,...
6764,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0
6765,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,***,04/01/2010,17:30:00,0
6766,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,***,03/01/2010,12:00:00,0
6767,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0
6768,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0