In [7]:
import pandas as pd
import pandera as pa

In [8]:
valores_ausentes = ['***','###!','####','NULL','****','*****','**']
df = pd.read_csv("ocorrencia_2010.csv", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values = valores_ausentes)
df.head(10)
#NA ou NAN são dados não disponiveis

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0
5,81019,81019,ACIDENTE,PORTO ALEGRE,RS,NaN,2022-10-03,20:50:00,0
6,81022,81022,INCIDENTE,LOBATO,PR,NaN,2022-10-03,15:38:00,0
7,81021,81021,ACIDENTE,NOVA BANDEIRANTES,MT,NaN,2022-10-02,19:00:00,0
8,81009,81009,INCIDENTE GRAVE,NAVIRAÍ,MS,**NI,2022-10-01,10:10:00,0
9,81012,81012,INCIDENTE,LINHARES,ES,NaN,2022-09-30,12:20:00,0

In [17]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),           
        "ocorrencia_cidade":pa.Column(pa.String),                   
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2),nullable=True),
#como estou sem excel dps tenho que editar para ficar só 2 digitos e poderar ser vazio 
        "ocorrencia_aerodromo":pa.Column((pa.String),nullable=True),               
        "ocorrencia_dia":pa.Column(pa.DateTime),           
        "ocorrencia_hora":pa.Column(pa.String, nullable=True),
# no comando acima diz que o campo pode esta vazio e posso usar restrições'expressão regular' 
        "total_recomendacoes":pa.Column(pa.Int),   
    }
)
#esse é um esquema que define os dados na tabela as regras

In [18]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0
...,...,...,...,...,...,...,...,...,...
6764,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
6765,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0
6766,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0
6767,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
6768,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [19]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [20]:
df.loc[1]

codigo_ocorrencia                         81030
codigo_ocorrencia2                        81030
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       VITÓRIA
ocorrencia_uf                                ES
ocorrencia_aerodromo                       SBVT
ocorrencia_dia              2022-10-09 00:00:00
ocorrencia_hora                        16:20:00
total_recomendacoes                           0
Name: 1, dtype: object

In [24]:
df.iloc[-1]
#busca pelo o indice -siguinifica que pegarar o ultimo dado

codigo_ocorrencia                         40351
codigo_ocorrencia2                        40351
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBRJ
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        03:00:00
total_recomendacoes                           0
Name: 6768, dtype: object

In [25]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6764,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
6765,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0
6766,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0
6767,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
6768,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [26]:
df.iloc[10:15]
#busca as linhas do 10 ao 14 por que no 15 ele interrompe

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,81017,81017,INCIDENTE GRAVE,GOIÂNIA,GO,SBNV,2022-09-30,13:40:00,0
11,81006,81006,INCIDENTE,UBERLÂNDIA,MG,SBUL,2022-09-28,12:55:00,0
12,81014,81014,ACIDENTE,BOA VISTA,RR,NaN,2022-09-27,00:00:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
14,81001,81001,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2022-09-25,20:00:00,0

In [28]:
df.loc[:,'ocorrencia_uf']
#vai buscar os dados da ocorrencia uf

0       SP
1       ES
2       SP
3       MG
4       AM
        ..
6764    RS
6765    MT
6766    RJ
6767    PA
6768    RJ
Name: ocorrencia_uf, Length: 6769, dtype: object

In [30]:
df['ocorrencia_uf']
#busca de forma simple

0       SP
1       ES
2       SP
3       MG
4       AM
        ..
6764    RS
6765    MT
6766    RJ
6767    PA
6768    RJ
Name: ocorrencia_uf, Length: 6769, dtype: object

In [31]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  4
ocorrencia_aerodromo        2417
ocorrencia_dia                 0
ocorrencia_hora                2
total_recomendacoes            0
dtype: int64

In [33]:
df.loc[df.ocorrencia_uf.isnull()]
#busca as linhas onde esta com dados não informados

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
283,80665,80665,ACIDENTE,NÃO IDENTIFICADA,NaN,**NI,2022-04-22,20:00:00,0
320,80631,80631,INCIDENTE,NÃO IDENTIFICADA,NaN,NaN,2022-04-04,11:15:00,0
912,79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,**NI,2021-02-26,11:00:00,0
4541,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0

In [34]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
283,80665,80665,ACIDENTE,NÃO IDENTIFICADA,NaN,**NI,2022-04-22,20:00:00,0
320,80631,80631,INCIDENTE,NÃO IDENTIFICADA,NaN,NaN,2022-04-04,11:15:00,0
912,79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,**NI,2021-02-26,11:00:00,0
4541,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0

In [35]:
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]
#filtro que trás os dados não informados

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
56,80938,80938,INCIDENTE,MARABÁ,PA,SBMA,2022-08-29,NaN,0
2671,78823,78823,INCIDENTE,CORUMBÁ,MS,**NI,2017-07-09,NaN,0

In [36]:
df.count()
#não conta os dados que não foram informados

codigo_ocorrencia           6769
codigo_ocorrencia2          6769
ocorrencia_classificacao    6769
ocorrencia_cidade           6769
ocorrencia_uf               6765
ocorrencia_aerodromo        4352
ocorrencia_dia              6769
ocorrencia_hora             6767
total_recomendacoes         6769
dtype: int64

In [37]:
#ocorrencias com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2836,66432,66432,INCIDENTE GRAVE,VITÓRIA,ES,NaN,2017-02-21,11:47:00,12
3970,52265,52265,ACIDENTE,SANTOS,SP,NaN,2014-08-13,13:03:00,13
4796,47938,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,11
5705,45554,45554,INCIDENTE GRAVE,UBERLÂNDIA,MG,SBUL,2011-11-15,02:15:00,20
5885,44888,44888,INCIDENTE GRAVE,SÃO JOSÉ DOS PINHAIS,PR,SBCT,2011-07-15,17:05:00,11
5894,44796,44796,ACIDENTE,RECIFE,PE,SBRF,2011-07-13,09:54:00,23
6040,44377,44377,ACIDENTE,ITÁPOLIS,SP,SDIO,2011-04-09,14:50:00,11
6238,43471,43471,ACIDENTE,SÃO PAULO,SP,NaN,2010-12-14,20:15:00,11
6441,42250,42250,ACIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-12,12:26:00,19
6705,39992,39992,ACIDENTE,SÃO PAULO,SP,SBMT,2010-02-17,20:07:00,11

In [41]:
#ocorrencias com mais de 10 recomendações esta especificando a coluna
filtro = df.total_recomendacoes > 10
df.loc[filtro,['ocorrencia_cidade','total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
2836               VITÓRIA                   12
3970                SANTOS                   13
4796              BRASÍLIA                   11
5705            UBERLÂNDIA                   20
5885  SÃO JOSÉ DOS PINHAIS                   11
5894                RECIFE                   23
6040              ITÁPOLIS                   11
6238             SÃO PAULO                   11
6441        RIO DE JANEIRO                   19
6705             SÃO PAULO                   11

In [43]:
#ocorrencias cuja a classificação == incidente grave
filtro = df.ocorrencia_classificacao =='INCIDENTE GRAVE'
#o codigo abaixo vai trazer as informações que estão nas colunas
df.loc[filtro,['ocorrencia_cidade','total_recomendacoes','ocorrencia_classificacao']]

     ocorrencia_cidade  total_recomendacoes ocorrencia_classificacao
0            SÃO PAULO                    0          INCIDENTE GRAVE
2            AMERICANA                    0          INCIDENTE GRAVE
8              NAVIRAÍ                    0          INCIDENTE GRAVE
10             GOIÂNIA                    0          INCIDENTE GRAVE
13           ARAÇATUBA                    0          INCIDENTE GRAVE
...                ...                  ...                      ...
6733            PALMAS                    0          INCIDENTE GRAVE
6739          CURITIBA                    2          INCIDENTE GRAVE
6756          CASCAVEL                    2          INCIDENTE GRAVE
6757     PARÁ DE MINAS                    0          INCIDENTE GRAVE
6761          CANUTAMA                    3          INCIDENTE GRAVE

[884 rows x 3 columns]

In [44]:
#ocorrencias cuja a classificação == incidente grave
filtro = df.ocorrencia_classificacao =='INCIDENTE GRAVE'
#o codigo abaixo vai trazer todas as informações sem limitar as colunas
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
8,81009,81009,INCIDENTE GRAVE,NAVIRAÍ,MS,**NI,2022-10-01,10:10:00,0
10,81017,81017,INCIDENTE GRAVE,GOIÂNIA,GO,SBNV,2022-09-30,13:40:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
...,...,...,...,...,...,...,...,...,...
6733,39487,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2010-01-26,16:50:00,0
6739,39709,39709,INCIDENTE GRAVE,CURITIBA,PR,SBBI,2010-01-23,16:36:00,2
6756,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
6757,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0
6761,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3

In [48]:
#ocorrencias cuja a classificação == incidente grave
filtro1 = df.ocorrencia_classificacao =='INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf =='SP'
df.loc[filtro1 | filtro2 ]
#agora vai buscar os dados que estão nos filtros 
# & significa que vai limitar a requisição incidentes grave e SP
# | significa  ou tem um ou tem outro

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
8,81009,81009,INCIDENTE GRAVE,NAVIRAÍ,MS,**NI,2022-10-01,10:10:00,0
10,81017,81017,INCIDENTE GRAVE,GOIÂNIA,GO,SBNV,2022-09-30,13:40:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
...,...,...,...,...,...,...,...,...,...
6753,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0
6756,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
6757,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0
6759,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
6761,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3

In [49]:
#ocorrencias cuja a classificação == incidente grave
filtro1 = df.ocorrencia_classificacao =='INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf =='SP'
df.loc[filtro1 & filtro2 ]
#agora vai buscar os dados que estão nos filtros 
# & significa que vai limitar a requisição incidentes grave e SP
# | significa  ou tem um ou tem outro

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
53,80951,80951,INCIDENTE GRAVE,ASSIS,SP,SNAX,2022-08-31,18:45:00,0
69,80925,80925,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2022-08-20,19:00:00,0
...,...,...,...,...,...,...,...,...,...
6455,42323,42323,INCIDENTE GRAVE,SÃO JOSÉ DO RIO PRETO,SP,SBSR,2010-08-05,12:01:00,0
6470,42289,42289,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-07-29,20:06:00,0
6548,41411,41411,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-06-08,19:30:00,2
6595,40620,40620,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2010-05-06,15:50:00,0
6631,40270,40270,INCIDENTE GRAVE,PIRASSUNUNGA,SP,SDPY,2010-04-15,20:15:00,0

In [50]:
#busca todas as ocorrencias que começa com C
filtro = df.ocorrencia_cidade.str[0] =='C'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
14,81001,81001,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2022-09-25,20:00:00,0
18,80997,80997,INCIDENTE,GUARULHOS,SP,SBGR,2022-09-21,11:30:00,0
...,...,...,...,...,...,...,...,...,...
6741,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,2010-01-21,20:45:00,0
6743,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0
6751,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0
6753,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0
6759,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8

In [55]:
#busca todas as ocorrencias que terminam com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
13,81003,81003,INCIDENTE GRAVE,ARAÇATUBA,SP,SBAU,2022-09-26,18:30:00,0
14,81001,81001,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2022-09-25,20:00:00,0
18,80997,80997,INCIDENTE,GUARULHOS,SP,SBGR,2022-09-21,11:30:00,0
...,...,...,...,...,...,...,...,...,...
6741,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,2010-01-21,20:45:00,0
6743,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0
6751,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0
6753,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0
6759,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8

In [57]:
#busca todas as ocorrencias que terminam com MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
286,80671,80671,INCIDENTE GRAVE,IRACEMA,RR,SWMV,2022-04-21,20:00:00,0
296,80648,80648,INCIDENTE GRAVE,IBOTIRAMA,BA,SNIT,2022-04-15,14:25:00,0
321,80632,80632,INCIDENTE,ARARUAMA,RJ,NaN,2022-04-03,13:25:00,0
672,80252,80252,ACIDENTE,IRACEMA,RR,NaN,2021-08-04,11:45:00,1
674,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0
904,79943,79943,INCIDENTE,IBOTIRAMA,BA,SNIT,2021-03-03,11:30:00,0
990,79820,79820,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0
992,79830,79830,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0
1009,79823,79823,ACIDENTE,IRACEMA,RR,NaN,2021-01-05,20:07:00,0
1296,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,2020-06-09,14:00:00,0
1322,79338,79338,INCIDENTE,IVINHEMA,MS,**NI,2020-05-15,09:40:00,0
1362,79282,79282,ACIDENTE,ITURAMA,MG,NaN,2020-04-11,12:20:00,0
1684,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,2019-09-08,17:45:00,0
1695,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,**NI,2019-09-03,14:00:00,0
1779,78867,78867,INCIDENTE,IRACEMA,RR,**NI,2019-07-06,00:00:00,0
2189,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,2018-07-28,14:20:00,0
2454,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,2018-01-06,10:30:00,0
2535,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1
2884,66265,66265,ACIDENTE,BURITAMA,SP,NaN,2017-01-13,16:00:00,0
3041,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2016-08-31,17:40:00,0
3083,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1
3579,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,2015-05-17,17:00:00,0
3594,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,2
3609,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,2015-04-22,12:45:00,0
3676,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0
3725,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,0
3767,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0
3800,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,0
3910,52340,52340,ACIDENTE,FAMA,MG,NaN,2014-09-20,15:00:00,1
4110,51347,51347,INCIDENTE,DIADEMA,SP,NaN,2014-05-04,16:00:00,0
4123,80059,80059,INCIDENTE,IVINHEMA,MS,**NI,2014-04-27,11:30:00,0
4663,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,2013-06-18,21:30:00,0
4672,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2013-06-15,12:00:00,4
5368,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,2012-06-16,19:30:00,0
5391,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,2012-05-30,19:00:00,0
5733,51785,51785,INCIDENTE,BURITAMA,SP,SIBX,2011-10-25,19:15:00,0
6080,44198,44198,ACIDENTE,BURITAMA,SP,NaN,2011-03-19,11:18:00,0
6361,43062,43062,ACIDENTE,NOVO GAMA,GO,NaN,2010-09-25,16:30:00,1
6750,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0
6761,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3

In [62]:
#busca todas as ocorrencias que tem  MA ou AL
filtro = df.ocorrencia_cidade.str.contains ('MA|AL')
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0
5,81019,81019,ACIDENTE,PORTO ALEGRE,RS,NaN,2022-10-03,20:50:00,0
19,80998,80998,ACIDENTE,ENGENHEIRO CALDAS,MG,NaN,2022-09-21,17:51:00,0
34,80969,80969,INCIDENTE,MARABÁ,PA,SBMA,2022-09-10,17:45:00,0
37,80979,80979,ACIDENTE,ALTO ARAGUAIA,MT,NaN,2022-09-10,22:00:00,0
...,...,...,...,...,...,...,...,...,...
6750,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0
6752,39810,39810,INCIDENTE,SALVADOR,BA,NaN,2010-01-15,18:23:00,0
6755,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2
6761,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3
6763,39807,39807,INCIDENTE,SALVADOR,BA,NaN,2010-01-06,17:53:00,0

In [63]:
#busca do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3300,60649,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0
3301,60631,60631,ACIDENTE,MAÇAMBARÁ,RS,NaN,2015-12-28,19:00:00,2
3302,60642,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0
3303,60600,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0
3304,60632,60632,INCIDENTE GRAVE,ITABERÁ,SP,NaN,2015-12-24,14:00:00,0
...,...,...,...,...,...,...,...,...,...
3766,52976,52976,ACIDENTE,TOLEDO,PR,SBTD,2015-01-04,22:04:00,6
3767,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0
3768,53073,53073,INCIDENTE,TEFÉ,AM,SBTF,2015-01-02,16:28:00,0
3769,53074,53074,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-01-02,20:34:00,0
3770,52992,52992,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-01-01,11:40:00,3

In [68]:
#junta as 2 colunas e atribui em uma nova 
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)

In [69]:
#busca do ano de 2015 e mês 12
filtro_ano = df.ocorrencia_dia_hora.dt.year == 2015
filtro_mes = df.ocorrencia_dia_hora.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia_hora.dt.day > 2
filtro_dia_fim = df.ocorrencia_dia_hora.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
3327,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1,2015-12-08 14:30:00
3328,53629,53629,INCIDENTE GRAVE,JALES,SP,SDJL,2015-12-08,10:20:00,0,2015-12-08 10:20:00
3329,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0,2015-12-08 16:19:00
3330,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0,2015-12-08 13:00:00
3331,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,3,2015-12-06 13:10:00
3332,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,2015-12-06 15:00:00
3333,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0,2015-12-03 10:50:00
3334,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0,2015-12-03 16:47:00

In [72]:
#busca do ano de 2015 e mês 03 e atribui um novo df 201503
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro & filtro2]
df201503

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
3644,53211,53211,INCIDENTE,BAURU,SP,SBBU,2015-03-30,19:40:00,0,2015-03-30 19:40:00
3645,53181,53181,ACIDENTE,COLÍDER,MT,NaN,2015-03-29,20:17:00,0,2015-03-29 20:17:00
3646,53187,53187,INCIDENTE,JOINVILLE,SC,SBJV,2015-03-29,18:36:00,0,2015-03-29 18:36:00
3647,53179,53179,ACIDENTE,CAIAPÔNIA,GO,NaN,2015-03-28,10:30:00,0,2015-03-28 10:30:00
3648,53180,53180,ACIDENTE,ARAGUARI,MG,NaN,2015-03-28,18:52:00,0,2015-03-28 18:52:00
3649,53190,53190,INCIDENTE,CAMPINAS,SP,SBKP,2015-03-28,16:26:00,0,2015-03-28 16:26:00
3650,53212,53212,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,17:32:00,0,2015-03-28 17:32:00
3651,53213,53213,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,15:51:00,0,2015-03-28 15:51:00
3652,53186,53186,INCIDENTE,BRASÍLIA,DF,NaN,2015-03-27,14:55:00,0,2015-03-27 14:55:00
3653,53194,53194,ACIDENTE,GUARACIABA DO NORTE,CE,SWBE,2015-03-26,20:30:00,0,2015-03-26 20:30:00
3654,53166,53166,INCIDENTE GRAVE,RIACHÃO DAS NEVES,BA,NaN,2015-03-24,14:45:00,0,2015-03-24 14:45:00
3655,53170,53170,INCIDENTE,CONFINS,MG,SBCF,2015-03-24,17:57:00,0,2015-03-24 17:57:00
3656,53185,53185,INCIDENTE,CURITIBA,PR,SBCT,2015-03-24,23:01:00,0,2015-03-24 23:01:00
3657,53412,53412,INCIDENTE GRAVE,MACAÉ,RJ,NaN,2015-03-24,16:35:00,2,2015-03-24 16:35:00
3658,53178,53178,ACIDENTE,DIAMANTINO,MT,NaN,2015-03-23,17:15:00,0,2015-03-23 17:15:00
3659,53182,53182,ACIDENTE,SANTA LUZIA,MA,NaN,2015-03-23,20:40:00,0,2015-03-23 20:40:00
3660,53184,53184,ACIDENTE,PORTO UNIÃO,SC,NaN,2015-03-22,13:44:00,0,2015-03-22 13:44:00
3661,53165,53165,INCIDENTE GRAVE,SÃO DESIDÉRIO,BA,NaN,2015-03-20,14:35:00,0,2015-03-20 14:35:00
3662,53188,53188,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2015-03-20,21:00:00,0,2015-03-20 21:00:00
3663,53169,53169,INCIDENTE,BELÉM,PA,SBBE,2015-03-19,03:25:00,0,2015-03-19 03:25:00
3664,53151,53151,INCIDENTE GRAVE,MAUÉS,AM,SWMW,2015-03-16,18:07:00,1,2015-03-16 18:07:00
3665,53168,53168,INCIDENTE,PARÁ DE MINAS,MG,SNPA,2015-03-16,21:05:00,0,2015-03-16 21:05:00
3666,53164,53164,ACIDENTE,PRINCESA ISABEL,PB,NaN,2015-03-15,18:30:00,0,2015-03-15 18:30:00
3667,53189,53189,INCIDENTE,CONFINS,MG,SBCF,2015-03-14,07:20:00,0,2015-03-14 07:20:00
3668,53193,53193,ACIDENTE,CANARANA,MT,NaN,2015-03-14,18:00:00,0,2015-03-14 18:00:00
3669,53153,53153,INCIDENTE,PORTO ALEGRE,RS,SBPA,2015-03-13,15:45:00,0,2015-03-13 15:45:00
3670,53154,53154,INCIDENTE,SOROCABA,SP,SDCO,2015-03-13,14:40:00,0,2015-03-13 14:40:00
3671,53238,53238,INCIDENTE,SERRA,ES,NaN,2015-03-13,11:30:00,0,2015-03-13 11:30:00
3672,53148,53148,ACIDENTE,ARARAS,SP,SDEH,2015-03-12,12:40:00,0,2015-03-12 12:40:00
3673,53149,53149,ACIDENTE,TABATINGA,AM,SBTT,2015-03-11,23:25:00,0,2015-03-11 23:25:00
3674,53152,53152,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBRJ,2015-03-10,11:30:00,2,2015-03-10 11:30:00
3675,53167,53167,INCIDENTE,MARABÁ,PA,SBMA,2015-03-10,17:33:00,0,2015-03-10 17:33:00
3676,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0,2015-03-10 21:35:00
3677,53112,53112,ACIDENTE,MOGI GUAÇU,SP,NaN,2015-03-06,21:00:00,1,2015-03-06 21:00:00
3678,53109,53109,ACIDENTE,CAMPO GRANDE,MS,SSIE,2015-03-05,13:50:00,0,2015-03-05 13:50:00
3679,53120,53120,ACIDENTE,CHAVES,PA,SNXW,2015-03-04,13:30:00,0,2015-03-04 13:30:00
3680,53183,53183,ACIDENTE,AMAPORÃ,PR,NaN,2015-03-02,23:00:00,0,2015-03-02 23:00:00

In [73]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [79]:
#conta os dados 1 quando tem e 0 quando não tem dados
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64