In [17]:
import pandas as pd
import pandera as pa
#comando que esta chamando o pandas

In [18]:
df = pd.read_csv("ocorrencia_2010.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.tail(10)
#tenha atenção sobre o caminho do dados a ser chamado lembrar de adicionar o formato.
#caso estiver com os dados agrupados só adicionar a ,sep=";" dps do arquivo fora das"
#Ok o comando parse_dates vai mudar ocorrencia_dia object que não é do tipo data para data
#dayfirst significa que o dia vem primeiro na data

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6759,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
6760,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0
6761,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,***,2010-01-09,12:30:00,3
6762,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
6763,39807,39807,INCIDENTE,SALVADOR,BA,***,2010-01-06,17:53:00,0
6764,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
6765,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,***,2010-01-04,17:30:00,0
6766,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,***,2010-01-03,12:00:00,0
6767,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
6768,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [19]:
df.dtypes
#comando para trazer os tipos de dados

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [35]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),           
        "ocorrencia_cidade":pa.Column(pa.String),                   
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,3)),                    
        "ocorrencia_aerodromo":pa.Column(pa.String),               
        "ocorrencia_dia":pa.Column(pa.DateTime),           
        "ocorrencia_hora":pa.Column(pa.String, nullable=True),
# no comando acima diz que o campo pode esta vazio e posso usar restrições'expressão regular' 
        "total_recomendacoes":pa.Column(pa.Int),   
    }
)
#esse é um esquema que define os dados na tabela

In [36]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,81027,81027,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2022-10-09,16:30:00,0
1,81030,81030,INCIDENTE,VITÓRIA,ES,SBVT,2022-10-09,16:20:00,0
2,81023,81023,INCIDENTE GRAVE,AMERICANA,SP,SDAI,2022-10-06,15:30:00,0
3,81029,81029,INCIDENTE,BELO HORIZONTE,MG,SBBH,2022-10-06,00:44:00,0
4,81025,81025,INCIDENTE,MANAUS,AM,SBEG,2022-10-05,20:56:00,0
...,...,...,...,...,...,...,...,...,...
6764,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
6765,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,***,2010-01-04,17:30:00,0
6766,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,***,2010-01-03,12:00:00,0
6767,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
6768,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

pip install pandora #linha de codigo foi desativada selecionando a opção dps de executar tudo

In [14]:
df.dtypes
df.ocorrencia_dia.dt.month

0       10
1       10
2       10
3       10
4       10
        ..
6764     1
6765     1
6766     1
6767     1
6768     1
Name: ocorrencia_dia, Length: 6769, dtype: int64